body {
  background-color: #616161;
  color: aliceblue;
}

img {
  border-radius: 30px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  max-width: 1000px;
  font-size: large;
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.left {
  margin-right: 120px;
  border-bottom: 3px solid black;
}

.wrapper {
  margin-left: 120px;
  margin-right: 120px;
  background-color: rgb(226 157 52);
  border-radius: 30px;
  color: rgb(72 55 43);
}
.left.wrapper {
  color: rgb(72 55 43);
}

.one.wrapper {
  padding-left: 80px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.mid {
  display: block;
}

a {
  color: aqua;
}

#cobb {
  background-image: url(img/cobbs.jpeg);
}
#one {
  background-color: rgb(72 55 43);
}
#two {
  background-image: url(img/veggies.jpeg);
  background-size: cover;
}
li {
  margin-top: 10px;
}

header {
  height: 100px;
  text-align: center;
}
