body {
  background-color: #616161;
  color: aliceblue;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  max-width: 1000px;
  font-size: large;
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.left {
  margin-right: 120px;
  border-bottom: 3px solid black;
}

.wrapper {
  margin-left: 120px;
  margin-right: 120px;
  background-color: rgb(226 157 52);
  border-radius: 30px;
}
.left.wrapper {
  color: rgb(72 55 43);
}

.one.wrapper {
  padding-left: 80px;
}

.mid {
  display: block;
}

a {
  color: aqua;
}

#cobb {
  background-image: url(img/cobbs.jpeg);
}
